<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vpn-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99A9C397286D595B0028CBB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A9C3AD286D595D0028CBB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A9C3B7286D595D0028CBB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
